@model OMInsurance.WebApps.Models.PrintedForms.SMSBaseReportModel
@using OMInsurance.WebApps.Helpers
@using (@Html.BeginForm("GetSMSBaseReport", "PrintedForms"))
{
    <div class="margined row">
        <div class="col-md-2">
            @Html.LabelFor(model => Model.SmsBaseDateFrom)
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => Model.SmsBaseDateFrom, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.SmsBaseDateFrom)
        </div>
    </div>
    <div class="margined row">
        <div class="col-md-2">
            @Html.LabelFor(model => Model.SmsBaseDateTo)
        </div>
        <div class="col-md-3">
            @Html.EditorFor(model => Model.SmsBaseDateTo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.SmsBaseDateTo)
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <input class="btn btn-default"
                   type="submit"
                   value="Печать" />
        </div>
    </div>
}
